<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <!--link rel="stylesheet" type="text/css" href="{% static 'pools/style.css' %}"-->
    {% load bootstrap5 %}
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    <title>Title</title>
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>